<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menu :: header"></th:block> /*/-->
		<h1>Demo Scheduler</h1>

		Please enter the demo information below:

		<div>
			<form class="form-horizontal" th:object="${demo}"
				th:action="@{/users/demo/scheduler}" method="post">
				<input type="hidden" id="userId" name="userId" th:value="${userId}" />

				<div class="form-group">
					<label class="col-sm-2 control-label">Store:</label>
					<div class="col-sm-10">
						<select th:field="*{storeId}">
							<option th:each="store : ${storeList}" th:value="${store.id}"
								th:text="${store.storeName}" />
						</select> <a href="#" th:href="@{/users/addstore}">Add Store <span
							class="glyphicon glyphicon-plus"></span></a>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Date Of Demo:</label>
					<div class="col-sm-10">
						<input type="date" class="form-control" th:field="*{dateOfEvent}" />
						<span th:if="${#fields.hasErrors('dateOfEvent')}"
							th:errors="*{dateOfEvent}"></span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Start Time:</label>
					<div class="col-sm-10 input-group clockpicker">
						<input type="text" class="form-control" id="startTime"
							name="startTime" value="" /> <span class="input-group-addon">
							<span class="glyphicon glyphicon-time"></span>
						</span> <span th:if="${#fields.hasErrors('startTime')}"
							th:errors="*{startTime}"></span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">End Time:</label>
					<div class="col-sm-10 input-group clockpicker">
						<input type="text" class="form-control" id="endTime"
							name="endTime" value="" /> <span class="input-group-addon"><span
							class="glyphicon glyphicon-time"></span></span> <span
							th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Pre Notes:</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="4" cols="80"
							th:field="*{preNotes}"></textarea>
						<span th:if="${#fields.hasErrors('preNotes')}"
							th:errors="*{preNotes}"></span>
					</div>
				</div>

				<div class="row">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
		</div>

	</div>

	<!--/*/ <th:block th:include="fragments/bottom-menu :: footer"></th:block> /*/-->

	<script type="text/javascript">
		$('.clockpicker').clockpicker({
		    donetext: 'Done',
		    autoclose: true,
		    default: '',
		    twelvehour: true
		});
	</script>

</body>
</html>
