<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
  
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: header"></th:block> /*/-->
        <h1>Demo Reporter</h1>
        
        Members will post their demo reports here.  This will include things like how many people did they demo to.  How many people did they talk to, but not demo to, etc...



</div>

<!--/*/ <th:block th:include="fragments/bottom-menu :: footer"></th:block> /*/-->
 
</body>
</html>
