<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
  
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: header"></th:block> /*/-->
        <h1>View Files</h1>
        
 Just a list of files that a user can download.

<p>
<br /><a href="/files/the-battle-for-xilos-scenario-drone-integration.pdf">Demo Scenario</a>
<br /><a href="#">Demo Flyer (Not there yet, so the link doesn't work)</a>
</p>

    <!--/*/ <th:block th:include="fragments/bottom-menu :: footer"></th:block> /*/-->
</div>
 
</body>
</html>