.dropdown-submenu1 {
    position: relative;
}

.dropdown-submenu1 .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

#footer {
    position:fixed;
    background-color:#000;
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
    display:none;
}
