<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    
    </head>
    <body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: header"></th:block> /*/-->
  
	<div align="center">
		<img src="/images/haha.jpg" />
		<h2>You forgot your password!  Sucks to be you!</h2>
	</div>
    <!--/*/ <th:block th:include="fragments/bottom-menu :: footer"></th:block> /*/-->

</div>
 
 
 
</body>
</html>